<div>
    <div>
        <p id='username'>Logged in as {{username}}</p>
    </div>

    <article>
        <form id="postForm">

            <div>
                <label>Give your post a title:</label>
                <input type="text" id="post_title">
                <label for="post_content">
                    Write your post here:
                </label>

                <textarea id="post_content"></textarea>
            </div>
            <button>Post It!</button>
        </form>
    </article>
</div>

<script src="/js/post.js"></script>