<div>
    <form id="signupForm">
    <h2>Create an account!</h2>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="usernameSignup">
        </div>

        <div>
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailSignup">
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordSignup">
        </div>

        <button type="submit" href="/">Sign Up
        </button>
    </form>
</div>

<div>
    <p>Already have an account? <a href="/login">Login Here</a> </p>
</div>

<script src="/js/signup.js"></script>